/* form styles */
#form {
	background: $color-background-primary;
	border: $border-tertiary;
	border-radius: 0.7rem;
	margin: 3rem auto;
	max-width: 45rem;
	padding: 0 2rem;
	width: 100%;
	
	.form-errors {
		border: 0.1rem solid #f00;
		border-radius: 0.2rem;
		color: #f00;
		font-size: 1.6rem;
		padding: 0.5rem;
		
		ul {
			list-style-type: none;
			padding-left: 1.5rem;
		}
	}

	.form-group {
		font-family: inherit;
		font-size: 1.8rem;
		margin: 1.5rem 0;
		
		h3 {
			font-size: 2.4rem;
		}
		
		> label {
			display: block;
		}
		
		input[type=text],
		input[type=password],
		select {
			border: $border-tertiary;
			border-radius: 0.4rem;
			font: inherit;
			padding: 0.3rem 0.5rem;
			width: 100%;
			
			&:focus {
				outline: $border-secondary;
			}
		}
		
		input:disabled,
		input:read-only,
		input[type=checkbox]:disabled ~ label,
		select:disabled {
			background: $color-background-primary;
			color: $color-text-disabled;
		}
		
		button {
			font: inherit;
			
			&:focus {
				outline: none;
			}
		}
		
		.checkbox-wrapper {
			display: flex;
			flex-wrap: wrap;
			
			> div {
				flex-basis: 8.75rem;
			}
			
			.break {
				flex-basis: 100%;
				height: 0;
			}
		}
	}
}